-- MySQL dump 10.13  Distrib 8.4.10, for Linux (x86_64)
--
-- Host: localhost    Database: herbalife2
-- ------------------------------------------------------
-- Server version	8.4.10

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `infos`
--

DROP TABLE IF EXISTS `infos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `infos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(45) NOT NULL,
  `address` varchar(100) NOT NULL,
  `phone` int NOT NULL,
  `email` varchar(80) NOT NULL,
  `point` int DEFAULT NULL,
  `position` int DEFAULT NULL,
  `photo` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `EMAIL_UNIQUE` (`email`),
  KEY `FK$POSTION_idx` (`position`),
  CONSTRAINT `FK$POSTION` FOREIGN KEY (`position`) REFERENCES `positions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `infos`
--

LOCK TABLES `infos` WRITE;
/*!40000 ALTER TABLE `infos` DISABLE KEYS */;
INSERT INTO `infos` VALUES (13,'Nuth','PP',96,'phanuth@gmail.com',0,1,'https://res.cloudinary.com/dregfwrgo/image/upload/v1781762778/uploads/xfbt8ye2qxkkfcjauxvx.png'),(14,'Pha','PP',96,'Nuth@gmail.com',20,1,'https://res.cloudinary.com/dregfwrgo/image/upload/v1781766112/uploads/phzxsz2tp7sedxxri12p.png'),(15,'Nuth','PP',969813624,'phanuth25102004@gmail.com',200,2,'https://res.cloudinary.com/dregfwrgo/image/upload/v1783391474/uploads/wablvwrghyk9zuchjhz5.jpg');
/*!40000 ALTER TABLE `infos` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `update_position_on_point_change` BEFORE UPDATE ON `infos` FOR EACH ROW BEGIN
    DECLARE new_position INT;
    
    SELECT id INTO new_position
    FROM positions
    WHERE NEW.point >= point
    ORDER BY point DESC
    LIMIT 1;
    
    IF new_position IS NOT NULL THEN
        SET NEW.position = new_position;  
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userid` int DEFAULT NULL,
  `product` int DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `point` decimal(5,2) DEFAULT NULL,
  `total` decimal(5,2) DEFAULT NULL,
  `datetime` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ispurchase` tinyint NOT NULL DEFAULT '0',
  `invoiceid` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK$PRODUCT_idx` (`product`),
  KEY `idx_userid` (`userid`),
  CONSTRAINT `FK$INFOS` FOREIGN KEY (`userid`) REFERENCES `infos` (`id`),
  CONSTRAINT `FK$PRODUCT` FOREIGN KEY (`product`) REFERENCES `products` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `invview`
--

DROP TABLE IF EXISTS `invview`;
/*!50001 DROP VIEW IF EXISTS `invview`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `invview` AS SELECT 
 1 AS `id`,
 1 AS `name`,
 1 AS `product`,
 1 AS `userid`,
 1 AS `quantity`,
 1 AS `point`,
 1 AS `total`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `positions`
--

DROP TABLE IF EXISTS `positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `positions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `position` varchar(45) NOT NULL,
  `point` decimal(5,2) DEFAULT NULL,
  `discount` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `position_UNIQUE` (`position`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `positions`
--

LOCK TABLES `positions` WRITE;
/*!40000 ALTER TABLE `positions` DISABLE KEYS */;
INSERT INTO `positions` VALUES (1,'Normal',0.00,0.00),(2,'Premium',200.00,25.00),(3,'Premium Plus',400.00,50.00);
/*!40000 ALTER TABLE `positions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `price` decimal(10,2) DEFAULT NULL,
  `point` decimal(10,2) DEFAULT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
INSERT INTO `products` VALUES (1,'1457 | ß₧óß₧╢ß₧áß₧╢ß₧Üß₧ößƒåß₧ößƒëß₧ôß₧ƒß₧ÿßƒÆß₧Üß₧╢ß₧ößƒïß₧óß₧ÅßƒÆß₧Åß₧ûß₧¢ß₧╖ß₧Ç',43.95,41.60,'https://res.cloudinary.com/dregfwrgo/image/upload/v1783251508/herb3_xnxx9a.png'),(2,'1463 | ß₧óß₧╢ß₧áß₧╢ß₧Üß₧ößƒåß₧ößƒëß₧ô ßƒóßƒñ ß₧ƒßƒèß₧╗ß₧¢ß₧ùß₧╗ß₧¢ß₧ƒß₧╖ß₧ôßƒÇß₧Üßƒëß₧╢ß₧Ö',29.59,24.90,'https://res.cloudinary.com/dregfwrgo/image/upload/v1783251512/herb4_um5kvl.png'),(3,'1829 | ß₧ƒßƒèß₧╗ß₧öß₧ùß₧╕ß₧ößƒÆß₧Üß₧╝ß₧èß₧╢ß₧Öß₧óßƒèß₧╖ß₧ô ßƒúßƒáßƒáß₧ÇßƒÆß₧Üß₧╢ß₧ÿ',21.18,20.45,'https://res.cloudinary.com/dregfwrgo/image/upload/v1783251514/herb5_jzvcdv.png');
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction2`
--

DROP TABLE IF EXISTS `transaction2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction2` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userid` int DEFAULT NULL,
  `product` int DEFAULT NULL,
  `quantity` int DEFAULT NULL,
  `point` decimal(5,2) DEFAULT NULL,
  `total` decimal(5,2) DEFAULT NULL,
  `datetime` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `FK$PRODUCT_idx2` (`product`),
  KEY `idx_userid2` (`userid`),
  CONSTRAINT `FK$INFOS2` FOREIGN KEY (`userid`) REFERENCES `infos` (`id`),
  CONSTRAINT `FK$PRODUCT2` FOREIGN KEY (`product`) REFERENCES `products` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction2`
--

LOCK TABLES `transaction2` WRITE;
/*!40000 ALTER TABLE `transaction2` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userid` int NOT NULL,
  `md5` varchar(255) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `bill_number` varchar(100) DEFAULT NULL,
  `status` enum('pending','paid') DEFAULT 'pending',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `md5` (`md5`),
  KEY `IND_TRAN` (`userid`),
  CONSTRAINT `FK$INFOS&TRAN` FOREIGN KEY (`userid`) REFERENCES `infos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userid` int NOT NULL,
  `password` varchar(60) NOT NULL,
  `userids` int NOT NULL,
  `refresh_token` text,
  `role` enum('member','admin') DEFAULT 'member',
  PRIMARY KEY (`id`),
  UNIQUE KEY `userid_UNIQUE` (`userid`),
  UNIQUE KEY `userids_UNIQUE` (`userids`),
  CONSTRAINT `FK$INFO` FOREIGN KEY (`userids`) REFERENCES `infos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (6,123,'$2b$12$I9EXs/kNdvFcAPo.cI453O3UeqppV46snRr5Zi8W2G2FzluOSGSL2',14,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NiwidXNlcmlkIjoxMjMsImlhdCI6MTc4NDM1MjE4OCwiZXhwIjoxNzg0OTU2OTg4fQ.f4eBRW6S-OxK7_D52A0fPaFah43mj2cVdxXcAeRx3E0','admin'),(7,345,'$2b$12$qwOxQnx3cPOWbZ9Uk.shtOvEvTftF7QfufkCBdI6VdQUOc3WluA9.',15,'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NywidXNlcmlkIjozNDUsImlhdCI6MTc4MzU3MDEwNywiZXhwIjoxNzg0MTc0OTA3fQ.hCeJScWjg7Aguo7NzVt82AljpounQLM6kcD8q0x_epk','member');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `invview`
--

/*!50001 DROP VIEW IF EXISTS `invview`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `invview` AS select `inv`.`id` AS `id`,`inf`.`name` AS `name`,`p`.`name` AS `product`,`inv`.`userid` AS `userid`,`inv`.`quantity` AS `quantity`,(`inv`.`quantity` * `p`.`point`) AS `point`,(`inv`.`quantity` * `p`.`price`) AS `total` from (((`infos` `inf` join `users` `u` on((`inf`.`id` = `u`.`userids`))) join `invoices` `inv` on((`inv`.`userid` = `inf`.`id`))) join `products` `p` on((`p`.`id` = `inv`.`product`))) where (`inv`.`ispurchase` = 1) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-28  2:27:30
